.media-js {
  height: 100%;
  width: 100%;
}
.media-js.video {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
}
.media-js.video -webkit-media-controls {
  display: none !important;
}
.media-js.video video {
  height: 100%;
  width: 100%;
  outline: 0;
}
.media-js.video .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 51px;
  padding: 0 5px 8px;
  opacity: 1;
}
.media-js.video .controls .progress-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 6px;
  padding: 1px 0;
  cursor: pointer;
  background-color: rgba(50,50,50,0.1);
}
.media-js.video .controls .progress-bar div {
  transition: height 0.1s;
  position: absolute;
  height: 4px;
}
.media-js.video .controls .progress-bar .loaded {
  background-color: rgba(250,250,250,0.2);
  transition: width 0.2s;
}
.media-js.video .controls .progress-bar .played {
  background-color: #fff;
  transition: width 0.1s;
}
.media-js.video .controls .progress-bar .seek {
  background-color: rgba(255,255,255,0.2);
}
.media-js.video .controls .progress-bar .seek:hover,
.media-js.video .controls .progress-bar .seek.hover {
  display: inline-block;
}
.media-js.video .controls .progress-bar:hover,
.media-js.video .controls .progress-bar.hover {
  padding: 0;
}
.media-js.video .controls .progress-bar:hover div,
.media-js.video .controls .progress-bar.hover div {
  height: 6px;
}
.media-js.video .controls .progress-bar:active {
  cursor: grabbing;
}
.media-js.video .controls .controls-left {
  position: absolute;
  bottom: 11px;
  left: 0px;
  height: 36px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
}
.media-js.video .controls .play,
.media-js.video .controls .fullscreen,
.media-js.video .controls .volume-logo,
.media-js.video .controls .quality-selector {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.media-js.video .controls .play {
  display: inline-block;
  height: 36px;
  width: 72px;
  background-size: 24px;
  background-image: url("img/pause.svg");
}
.media-js.video .controls .play.paused {
  background-image: url("img/play.svg");
}
.media-js.video .controls .time {
  margin-left: 12px;
  display: inline-block;
  font-family: helvetica;
  font-weight: 100;
  font-size: 12px;
}
.media-js.video .controls .time.hidden {
  display: none;
}
.media-js.video .controls .time .duration::before {
  content: ' / ';
}
.media-js.video .controls .time div {
  display: inline;
}
.media-js.video .controls .quality-selector {
  position: absolute;
  overflow: hidden;
  right: 85px;
  bottom: 11px;
  height: 36px;
  line-height: 36px;
  width: 52px;
  font-family: helvetica;
  font-weight: 100;
}
.media-js.video .controls .quality-selector:hover,
.media-js.video .controls .quality-selector.hover {
  overflow: visible;
}
.media-js.video .controls .quality-selector:hover .qualities,
.media-js.video .controls .quality-selector.hover .qualities {
  max-height: 216px;
}
.media-js.video .controls .quality-selector:hover .qualities .quality,
.media-js.video .controls .quality-selector.hover .qualities .quality {
  opacity: 1;
  height: 36px;
}
.media-js.video .controls .quality-selector .qualities {
  position: absolute;
  top: -36px;
  width: 100%;
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
}
.media-js.video .controls .quality-selector .qualities .quality {
  width: 100%;
  line-height: 36px;
  height: 0px;
  opacity: 0;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.media-js.video .controls .quality-selector .qualities .quality.selected {
  height: 36px;
  opacity: 1;
  position: absolute;
  top: 36px;
  font-weight: bold;
}
.media-js.video .controls .fullscreen {
  position: absolute;
  right: 36px;
  bottom: 11px;
  height: 36px;
  width: 36px;
  background-size: 80%;
  background-image: url("img/fullscreen.svg");
}
.media-js.video .controls .fullscreen.full {
  background-image: url("img/nofullscreen.svg");
}
.media-js.video .controls .volume {
  height: 36px;
  display: inline-block;
  cursor: pointer;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
}
.media-js.video .controls .volume .volume-bar {
  display: inline-block;
  position: relative;
  height: 3px;
  width: 0px;
  transition: width 0.5s;
  background-color: rgba(250,250,250,0.2);
}
.media-js.video .controls .volume .volume-bar .volume-level {
  position: absolute;
  background-color: #fff;
  height: 100%;
}
.media-js.video .controls .volume .volume-bar:hover,
.media-js.video .controls .volume .volume-bar.hover,
.media-js.video .controls .volume .volume-bar.active {
  background-color: rgba(250,250,250,0.4);
}
.media-js.video .controls .volume:hover .volume-bar,
.media-js.video .controls .volume.hover .volume-bar,
.media-js.video .controls .volume.active .volume-bar {
  width: calc(36px + 2vw);
}
.media-js.video .controls .volume .volume-logo {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-image: url("img/volume.svg");
  background-size: 50%;
}
.media-js.video .controls .volume.muted .volume-level {
  background-color: rgba(100,100,100,0.5);
}
.media-js.video .controls .volume.muted .volume-logo {
  background-image: url("img/muted.svg");
}
.media-js.video .controls.hidden {
  transition: opacity 0.5s;
  opacity: 0;
}
.media-js.video .controls.hidden.stay {
  opacity: 1;
}
.media-js.video .controls:hover,
.media-js.video .controls.hover {
  opacity: 1;
}
.media-js.video.grabbing {
  cursor: grabbing;
}
.media-js.video.grabbing .controls {
  opacity: 1;
}
.media-js.picture {
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.media-js.gallery .slide {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.media-js.gallery .slide.selected {
  opacity: 1;
  visibility: visible;
}
.media-js.gallery .slide .name {
  position: absolute;
  top: 36px;
  left: 36px;
  font-family: 'bebas', sans-serif;
  background-color: rgba(0,0,0,0.7);
  padding: 0 6px;
  font-weight: normal;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.5s;
}
.media-js.gallery .slide .name.hidden {
  opacity: 0;
}
.media-js.gallery .slide .name.hidden:hover,
.media-js.gallery .slide .name.hidden .hover {
  opacity: 1;
}
.media-js.gallery .controls {
  opacity: 1;
  transition: opacity 0.5s;
}
.media-js.gallery .controls.hidden {
  opacity: 0;
}
.media-js.gallery .controls.hidden:hover,
.media-js.gallery .controls.hidden .hover {
  opacity: 1;
}
.media-js.gallery .next,
.media-js.gallery .previous {
  z-index: 1;
  position: fixed;
  top: calc(50vh - 21px);
  height: 120px;
  width: 42px;
  background-image: url("img/arrow_down_white.svg");
  background-size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.media-js.gallery .next:hover,
.media-js.gallery .previous:hover {
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.media-js.gallery .next.hidden,
.media-js.gallery .previous.hidden {
  visibility: hidden;
}
.media-js.gallery .next {
  right: 0;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  animation-name: right;
  -webkit-animation-name: right;
}
.media-js.gallery .previous {
  left: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  animation-name: left;
  -webkit-animation-name: left;
}
@-moz-keyframes left {
  0% {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-10px, 0) rotate(90deg);
    -ms-transform: translate(-10px, 0) rotate(90deg);
    transform: translate(-10px, 0) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
}
@-webkit-keyframes left {
  0% {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-10px, 0) rotate(90deg);
    -ms-transform: translate(-10px, 0) rotate(90deg);
    transform: translate(-10px, 0) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
}
@-o-keyframes left {
  0% {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-10px, 0) rotate(90deg);
    -ms-transform: translate(-10px, 0) rotate(90deg);
    transform: translate(-10px, 0) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
}
@keyframes left {
  0% {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-10px, 0) rotate(90deg);
    -ms-transform: translate(-10px, 0) rotate(90deg);
    transform: translate(-10px, 0) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
}
@-moz-keyframes right {
  0% {
    -webkit-transform: translate(0, 0) rotate(270deg);
    -ms-transform: translate(0, 0) rotate(270deg);
    transform: translate(0, 0) rotate(270deg);
  }
  50% {
    -webkit-transform: translate(10px, 0) rotate(270deg);
    -ms-transform: translate(10px, 0) rotate(270deg);
    transform: translate(10px, 0) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(270deg);
    -ms-transform: translate(0, 0) rotate(270deg);
    transform: translate(0, 0) rotate(270deg);
  }
}
@-webkit-keyframes right {
  0% {
    -webkit-transform: translate(0, 0) rotate(270deg);
    -ms-transform: translate(0, 0) rotate(270deg);
    transform: translate(0, 0) rotate(270deg);
  }
  50% {
    -webkit-transform: translate(10px, 0) rotate(270deg);
    -ms-transform: translate(10px, 0) rotate(270deg);
    transform: translate(10px, 0) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(270deg);
    -ms-transform: translate(0, 0) rotate(270deg);
    transform: translate(0, 0) rotate(270deg);
  }
}
@-o-keyframes right {
  0% {
    -webkit-transform: translate(0, 0) rotate(270deg);
    -ms-transform: translate(0, 0) rotate(270deg);
    transform: translate(0, 0) rotate(270deg);
  }
  50% {
    -webkit-transform: translate(10px, 0) rotate(270deg);
    -ms-transform: translate(10px, 0) rotate(270deg);
    transform: translate(10px, 0) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(270deg);
    -ms-transform: translate(0, 0) rotate(270deg);
    transform: translate(0, 0) rotate(270deg);
  }
}
@keyframes right {
  0% {
    -webkit-transform: translate(0, 0) rotate(270deg);
    -ms-transform: translate(0, 0) rotate(270deg);
    transform: translate(0, 0) rotate(270deg);
  }
  50% {
    -webkit-transform: translate(10px, 0) rotate(270deg);
    -ms-transform: translate(10px, 0) rotate(270deg);
    transform: translate(10px, 0) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(270deg);
    -ms-transform: translate(0, 0) rotate(270deg);
    transform: translate(0, 0) rotate(270deg);
  }
}
